# requirements.txt
django == 5.2.0
python-decouple==3.8
gunicorn==23.0.0
psycopg2-binary==2.9.9

# === Морфология (Python 3.12+) ===
pymorphy3~=2.0.0
pymorphy3-dicts-ru~=2.4.417127

requests>=2.31.0
python-dotenv>=1.0.0

# VK Bot
vk-api>=11.9.0
