/* Мобильная версия */
@media screen and (max-width: 480px) {
    .table-container {
        grid-template-columns: 1fr;
    }
    
    /* Изменяем порядок элементов для мобильной версии */
    .item-1 { order: 1; }
    .item-2 { order: 5; }
    .item-3 { order: 9; }
    .item-4 { order: 13; }
    .item-5 { order: 17; }
    .item-6 { order: 2; }
    .item-7 { order: 6; }
    .item-8 { order: 10; }
    .item-9 { order: 14; }
    .item-10 { order: 18; }
    .item-11 { order: 3; }
    .item-12 { order: 7; }
    .item-13 { order: 11; }
    .item-14 { order: 15; }
    .item-15 { order: 19; }
    .item-16 { order: 4; }
    .item-17 { order: 8; }
    .item-18 { order: 12; }
    .item-19 { order: 16; }
    .item-20 { order: 20; }
}

@media (max-width: 480px) {
    .table-container-punktum {
        grid-template-columns: 2fr 4fr 4fr; /* 3 колонки */
        gap: 5px;
        width: 100%;
    }

    /* Элемент 1 — занимает первую колонку */
    .item-punktum-1 {
        grid-column: 1;
    }

    /* Элемент 2 — вторую колонку */
    .item-punktum-2 {
        grid-column: 2;
    }

    /* Элемент 3 — третью колонку */
    .item-punktum-3 {
        grid-column: 3;
    }

    /* Элемент 4 — занимает всю ширину (вторая строка) */
    .item-punktum-4 {
        grid-column: span 3; /* Занимает 3 колонки */
        grid-row: 2;          /* Вторая строка */
    }
}
