<!-- correction_test_snippet.html -->
<div class="correction-exercise diagnostic-full-test" data-exercise-id="711">
    <div class="question-diagnostic diagnostic-full-test__question" data-question-number="7">
        <h4 class="diagnostic-full-test__title">
            Задание 7. Грамматические нормы
        </h4>
        <p class="diagnostic-full-test__instruction">
            В одном из выделенных ниже слов допущена грамматическая ошибка.
            Исправьте ошибку и запишите слово правильно.
        </p>

        <div class="diagnostic-full-test__lines">
            {% for word in words %}
            <div class="diagnostic-full-test__line">
                <span class="practice-line diagnostic-full-test__line-text">
                    {{ word }}
                </span>
            </div>
            {% endfor %}
        </div>

        <input type="text" id="correction-input" class="correction-input diagnostic-full-test__input input-text"
            placeholder="Напишите правильный вариант" autocomplete="off" data-question="7">
    </div>

    <button class="check-correction check-task-submit">Проверить</button>

    <div class="correction-result diagnostic-full-test__result"></div>
</div>