<!-- main/templates/diagnostic_snippet.html -->

{% load static %}
{% load custom_filters %}

<div class="diagnostic-full-test">
    <h2 class="visually-hidden">Задания диагностического теста егэ по русскому языку</h2>

    <!-- Задания 1–3 -->
    {% if text_task_1_3 %}
    <div class="text-content-diagnostic diagnostic-full-test__text">
        <h3 class="diagnostic-full-test__subtitle">Прочитайте текст и выполните задания 1–3.</h3>{{ text_task_1_3.text_content|bold_words|safe }}
    </div>

    {% for q in text_questions_1_3 %}
    <div class="question-diagnostic diagnostic-full-test__question" data-question-number="{{ q.question_number }}"
        data-question-type="{{ q.question_type }}">

        <h4 class="diagnostic-full-test__title">
            {{ q.question_number }}. {{ q.question_text }}
        </h4>

        {% if q.question_type == 'missing_word' %}
        <input type="text" class="diagnostic-full-test__input input-text" name="answer_{{ q.question_number }}"
            data-question="{{ q.question_number }}" placeholder="Напишите ответ"
            aria-label="Ответ на задание {{ q.question_number }}" autocomplete="off">
        {% else %}
        <div class="diagnostic-full-test__options">
            {% for opt in q.options.all %}
            <label class="diagnostic-full-test__option">
                <input type="checkbox" class="diagnostic-full-test__checkbox" name="answer_{{ q.question_number }}[]"
                    value="{{ opt.option_number }}" data-question="{{ q.question_number }}">
                <span class="diagnostic-full-test__option-text">
                    {{ opt.option_number }}) {{ opt.option_text }}
                </span>
            </label>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    {% endfor %}
    {% endif %}


    <!-- === ЗАДАНИЕ 4: ОРФОЭПИЯ === -->
    {% if orthoepy_variants %}
    <div class="question-diagnostic diagnostic-full-test__question" data-question-number="4">
        <h4 class="diagnostic-full-test__title">
            4. Укажите варианты ответов, в которых ВЕРНО выделена буква, обозначающая ударный гласный звук. Запишите
            номера ответов.
        </h4>

        <div class="diagnostic-full-test__options">
            {% for variant in orthoepy_variants %}
            <label class="diagnostic-full-test__option">
                <input type="checkbox" class="diagnostic-full-test__checkbox orthoepy-checkbox" name="answer_4[]"
                    value="{{ variant }}" data-question="4">
                <span class="diagnostic-full-test__option-text variant-text">
                    {{ forloop.counter }}) {{ variant }}
                </span>
            </label>
            {% endfor %}
        </div>
    </div>
    {% endif %}


    <!-- Задание 5 -->
    {% if paponim_sentences %}
    <div class="question-diagnostic diagnostic-full-test__question" data-question-number="5">
        <h4 class="diagnostic-full-test__title">
            5. В одном из приведённых ниже предложений НЕВЕРНО употреблено выделенное слово.
            Исправьте лексическую ошибку, подобрав к выделенному слову пароним.
            Запишите подобранное слово, соблюдая нормы современного русского литературного языка.
        </h4>

        <div class="diagnostic-full-test__lines">
            {% for sentence in paponim_sentences %}
            <div class="diagnostic-full-test__line">
                <span class="practice-line diagnostic-full-test__line-text">
                    {{ sentence.text|safe }}
                </span>
            </div>
            {% endfor %}
        </div>

        <input type="text" class="diagnostic-full-test__input input-text" name="answer_5" data-question="5"
            placeholder="Напишите исправленное слово" aria-label="Ответ на задание 5" autocomplete="off">
    </div>
    {% endif %}


    <!-- Задание 6 -->
    {% if wordok %}
    <div class="question-diagnostic diagnostic-full-test__question" data-question-number="6">
        {% if wordok_task_type == 'exclude' %}
        <h4 class="diagnostic-full-test__title">
            6. Отредактируйте предложение: исправьте лексическую ошибку, исключив лишнее слово.
            Выпишите это слово.
        </h4>
        {% else %}
        <h4 class="diagnostic-full-test__title">
            6. Отредактируйте предложение: исправьте лексическую ошибку, заменив употреблённое неверно слово.
            Запишите подобранное слово.
        </h4>
        {% endif %}

        <p class="diagnostic-full-test__paragraph practice-line">
            {{ wordok.text|safe }}
        </p>

        <input type="text" class="diagnostic-full-test__input input-text" name="answer_6" data-question="6"
            placeholder="Введите слово" aria-label="Ответ на задание 6" autocomplete="off">
    </div>
    {% endif %}


    <!-- Задание 7 -->
    {% if task7_phrases %}
    <div class="question-diagnostic diagnostic-full-test__question" data-question-number="7">
        <h4 class="diagnostic-full-test__title">7. {{ task7_instruction }}</h4>
        <div class="diagnostic-full-test__lines">
            {% for phrase in task7_phrases %}
            <div class="diagnostic-full-test__line">
                <span class="practice-line diagnostic-full-test__line-text">{{ phrase }}</span>
            </div>
            {% endfor %}
        </div>
        <input type="text" class="diagnostic-full-test__input input-text" name="answer_7" data-question="7"
            placeholder="Напишите исправленное слово" autocomplete="off">
    </div>
    {% endif %}


    <!-- Задание 8 -->
    {% if task8_html %}
    <div class="question-diagnostic diagnostic-full-test__question" data-question-number="8">
        <div class="diagnostic-full-test__custom-html">
            {{ task8_html|safe }}
        </div>
    </div>
    {% endif %}


    <!-- Задание 9 -->
    {% if task9_lines %}
    <div class="question-diagnostic diagnostic-full-test__question" data-question-number="9">
        <h4 class="diagnostic-full-test__title">
            9. Выберите правильную букву, кликнув на смайлик.
        </h4>

        <div class="diagnostic-full-test__lines">
            {% for line in task9_lines %}
            <div class="diagnostic-full-test__line">
                <span class="diagnostic-full-test__line-num">
                    {{ forloop.counter }})
                </span>

                <span class="practice-line diagnostic-full-test__line-text">
                    {{ line.display_line|safe }}
                </span>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}


    <!-- Задание 10 -->
    {% if task10_lines %}
    <div class="question-diagnostic diagnostic-full-test__question" data-question-number="10">
        <h4 class="diagnostic-full-test__title">
            10. Выберите правильную букву, кликнув на смайлик.
        </h4>

        <div class="diagnostic-full-test__lines">
            {% for line in task10_lines %}
            <div class="diagnostic-full-test__line">
                <span class="diagnostic-full-test__line-num">
                    {{ forloop.counter }})
                </span>

                <span class="practice-line diagnostic-full-test__line-text">
                    {{ line.display_line|safe }}
                </span>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}


    <!-- Задание 11 -->
    {% if task11_lines %}
    <div class="question-diagnostic diagnostic-full-test__question" data-question-number="11">
        <h4 class="diagnostic-full-test__title">
            11. Выберите правильную букву, кликнув на смайлик.
        </h4>

        <div class="diagnostic-full-test__lines">
            {% for line in task11_lines %}
            <div class="diagnostic-full-test__line">
                <span class="diagnostic-full-test__line-num">
                    {{ forloop.counter }})
                </span>

                <span class="practice-line diagnostic-full-test__line-text">
                    {{ line.display_line|safe }}
                </span>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}


    <!-- Задание 12 -->
    {% if task12_lines %}
    <div class="question-diagnostic diagnostic-full-test__question" data-question-number="12">
        <h4 class="diagnostic-full-test__title">
            12. Выберите правильную букву, кликнув на смайлик.
        </h4>

        <div class="diagnostic-full-test__lines">
            {% for line in task12_lines %}
            <div class="diagnostic-full-test__line">
                <span class="diagnostic-full-test__line-num">
                    {{ forloop.counter }})
                </span>

                <span class="practice-line diagnostic-full-test__line-text">
                    {{ line.display_line|safe }}
                </span>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}


    <!-- Задание 13 -->
    {% if task13_lines %}
    <div class="question-diagnostic diagnostic-full-test__question" data-question-number="13">
        <h4 class="diagnostic-full-test__title">
            13. Выберите правильную букву, кликнув на смайлик.
        </h4>

        <div class="diagnostic-full-test__lines">
            {% for line in task13_lines %}
            <div class="diagnostic-full-test__line">
                <span class="diagnostic-full-test__line-num">
                    {{ forloop.counter }})
                </span>

                <span class="practice-line diagnostic-full-test__line-text">
                    {{ line|safe }}
                </span>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}


    <!-- Задание 14 -->
    {% if task14_lines %}
    <div class="question-diagnostic diagnostic-full-test__question" data-question-number="14">
        <h4 class="diagnostic-full-test__title">
            14. Определите, слитно, раздельно или через дефис пишутся слова.
            Выберите правильный вариант, кликнув на смайлик.
        </h4>

        <div class="diagnostic-full-test__lines">
            {% for line in task14_lines %}
            <div class="diagnostic-full-test__line">
                <span class="diagnostic-full-test__line-num">
                    {{ forloop.counter }})
                </span>

                <span class="practice-line diagnostic-full-test__line-text">
                    {{ line|safe }}
                </span>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}


    <!-- Задание 15 -->
    {% if task15_lines %}
    <div class="question-diagnostic diagnostic-full-test__question" data-question-number="15">
        <h4 class="diagnostic-full-test__title">
            15. Выберите правильную букву, кликнув на смайлик.
        </h4>

        <div class="diagnostic-full-test__lines">
            {% for line in task15_lines %}
            <div class="diagnostic-full-test__line">
                <span class="practice-line diagnostic-full-test__line-text">
                    {{ line|safe }}
                </span>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}


    <!-- Задание 16 -->
    {% if task16_data %}
    <div class="question-diagnostic diagnostic-full-test__question" data-question-number="16">
        <h4 class="diagnostic-full-test__title">
            16. Расставьте знаки препинания. Укажите цифру(-ы), на месте которой(-ых)
            в предложении должна(-ы) стоять запятая(-ые).
        </h4>

        {% if task16_data.image_name %}
        <div class="diagnostic-full-test__media">
            <img class="diagnostic-full-test__image" src="{% static task16_data.image_name %}" alt="Задание 16">
        </div>
        {% endif %}

        <div class="diagnostic-full-test__lines">
            {% for line in task16_data.lines %}
            <div class="diagnostic-full-test__line">
                <span class="diagnostic-full-test__line-num">
                    {{ forloop.counter }})
                </span>

                <span class="practice-line diagnostic-full-test__line-text">
                    {{ line|safe }}
                </span>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}


    <!-- Задание 17 -->
    {% if task17_data %}
    <div class="question-diagnostic diagnostic-full-test__question" data-question-number="17">
        <h4 class="diagnostic-full-test__title">
            17. Расставьте знаки препинания: укажите все цифры, на месте которых
            в предложении должны стоять запятые.
        </h4>

        {% if task17_data.image_name %}
        <div class="diagnostic-full-test__media">
            <img class="diagnostic-full-test__image" src="{% static task17_data.image_name %}" alt="Задание 17">
        </div>
        {% endif %}

        <div class="diagnostic-full-test__lines">
            {% for line in task17_data.lines %}
            <div class="diagnostic-full-test__line">
                <span class="practice-line diagnostic-full-test__line-text">
                    {{ line|safe }}
                </span>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}


    <!-- Задание 18 -->
    {% if task18_data %}
    <div class="question-diagnostic diagnostic-full-test__question" data-question-number="18">
        <h4 class="diagnostic-full-test__title">
            18. Расставьте знаки препинания: укажите все цифры, на месте которых
            в предложении должны стоять запятые.
        </h4>

        {% if task18_data.image_name %}
        <div class="diagnostic-full-test__media">
            <img class="diagnostic-full-test__image" src="{% static task18_data.image_name %}" alt="Задание 18">
        </div>
        {% endif %}

        {% if task18_is_punktum_with_paragraphs and task18_structured_examples %}
        <div class="diagnostic-full-test__lines">
            {% for example in task18_structured_examples %}
            <div class="punktum-example diagnostic-full-test__punktum">
                {% for paragraph in example %}
                <p class="practice-line diagnostic-full-test__paragraph">
                    {{ paragraph|safe }}
                </p>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    {% endif %}


    <!-- Задание 19 -->
    {% if task19_data %}
    <div class="question-diagnostic diagnostic-full-test__question" data-question-number="19">
        <h4 class="diagnostic-full-test__title">
            19. Расставьте знаки препинания: укажите все цифры, на месте которых
            в предложении должны стоять запятые.
        </h4>

        {% if task19_data.image_name %}
        <div class="diagnostic-full-test__media">
            <img class="diagnostic-full-test__image" src="{% static task19_data.image_name %}" alt="Задание 19">
        </div>
        {% endif %}

        <div class="diagnostic-full-test__lines">
            {% for line in task19_data.lines %}
            <div class="diagnostic-full-test__line">
                <span class="practice-line diagnostic-full-test__line-text">
                    {{ line|safe }}
                </span>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}


    <!-- Задание 20 -->
    {% if task20_data %}
    <div class="question-diagnostic diagnostic-full-test__question" data-question-number="20">
        <h4 class="diagnostic-full-test__title">
            20. Расставьте знаки препинания: укажите все цифры, на месте которых
            в предложении должны стоять запятые.
        </h4>

        {% if task20_data.image_name %}
        <div class="diagnostic-full-test__media">
            <img class="diagnostic-full-test__image" src="{% static task20_data.image_name %}" alt="Задание 20">
        </div>
        {% endif %}

        <div class="diagnostic-full-test__lines">
            {% for line in task20_data.lines %}
            <div class="diagnostic-full-test__line">
                <span class="practice-line diagnostic-full-test__line-text">
                    {{ line|safe }}
                </span>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}


    <!-- Задание 21 -->
    {% if task21_data %}
    <div class="question-diagnostic diagnostic-full-test__question" data-question-number="21">
        {% if task21_data.title %}
        <h4 class="diagnostic-full-test__title">
            {{ task21_data.title }}
        </h4>
        {% endif %}

        {% if task21_data.image_name %}
        <div class="diagnostic-full-test__media">
            <img class="diagnostic-full-test__image" src="{% static task21_data.image_name %}" alt="Задание 21">
        </div>
        {% endif %}

        <div class="diagnostic-full-test__lines">
            {% for line in task21_data.lines %}
            <div class="diagnostic-full-test__line">
                <span class="practice-line diagnostic-full-test__line-text">
                    {{ line|safe }}
                </span>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}


    <!-- Задание 22 -->
    {% if task22_html %}
    <div class="question-diagnostic diagnostic-full-test__question" data-question-number="22">
        <div class="diagnostic-full-test__custom-html">
            {{ task22_html|safe }}
        </div>
    </div>
    {% endif %}



    <!-- === ЗАДАНИЯ 23–26 (ТЕКСТ) === -->
    {% if task23_27_text and task23_27_questions %}
    <div class="text-content-diagnostic diagnostic-full-test__text">
        <h3 class="diagnostic-full-test__subtitle">Прочитайте текст и выполните задания 23–26.</h3>
        <div class="practice-line">{{ task23_27_text|linebreaks }}</div>

        {% for q_num, q_data in task23_27_questions.items %}
        <div class="question-diagnostic diagnostic-full-test__question" data-question-number="{{ q_num }}">
            <h4 class="diagnostic-full-test__title">{{ q_num }}. {{ q_data.text }}</h4>

            {% if q_data.type == 'multiple_choice' and q_data.choices %}
            <div class="diagnostic-full-test__lines">
                {% for choice in q_data.choices %}
                <div class="diagnostic-full-test__line">
                    <span class="practice-line diagnostic-full-test__line-text">{{ choice }}</span>
                </div>
                {% endfor %}
            </div>
            {% endif %}

            <input type="text" class="diagnostic-full-test__input input-text" name="answer_{{ q_num }}"
                data-question="{{ q_num }}" placeholder="Введите ответ" autocomplete="off">
        </div>
        {% endfor %}
    </div>
    {% endif %}


    <!-- Задание 27 -->
    <div class="question-diagnostic diagnostic-full-test__question" data-question-number="27">
        <h4 class="diagnostic-full-test__title">
            27. Балл за сочинение (0–22)
        </h4>

        <input type="number" min="0" max="22"
            class="diagnostic-full-test__input diagnostic-full-test__input--number input-text" name="answer_27"
            data-question="27" placeholder="Напишите свой балл 0–22" aria-label="Балл за сочинение от 0 до 22">
    </div>

    <!-- Кнопка проверки -->
    <button id="check-diagnostic-btn" class="check-task-submit">
        Проверить всю работу
    </button>


    {% if task8_html %}
    <script src="{% static 'js/planning_eight.js' %}"></script>
    <script>
        (function () {
            function initTask8() {
                if (window.PlanningEight && typeof window.PlanningEight.setup === 'function') {
                    setTimeout(function () {
                        window.PlanningEight.setup();
                    }, 100);
                }
            }

            if (document.readyState === 'loading') {
                document.addEventListener('DOMContentLoaded', initTask8);
            } else {
                initTask8();
            }
        })();
    </script>
    {% endif %}


    <script id="task10-letter-groups" type="application/json">
        {{ task10_letter_groups|safe }}
    </script>

    <script id="task10-subgroup-letters" type="application/json">
        {{ task10_subgroup_letters|safe }}
    </script>

    <script id="task11-letter-groups" type="application/json">
        {{ task11_letter_groups|safe }}
    </script>

    <script id="task11-subgroup-letters" type="application/json">
        {{ task11_subgroup_letters|safe }}
    </script>

    <script id="task12-letter-groups" type="application/json">
        {{ task12_letter_groups|safe }}
    </script>

    <script id="task12-subgroup-letters" type="application/json">
        {{ task12_subgroup_letters|safe }}
    </script>

    <script id="task13-letter-groups" type="application/json">
        {{ task13_letter_groups|safe }}
    </script>

    <script id="task13-subgroup-letters" type="application/json">
        {{ task13_subgroup_letters|safe }}
    </script>

    <script id="task14-letter-groups" type="application/json">
        {{ task14_letter_groups|safe }}
    </script>

    <script id="task14-subgroup-letters" type="application/json">
        {{ task14_subgroup_letters|safe }}
    </script>

    <script id="task15-letter-groups" type="application/json">
        {{ task15_letter_groups|safe }}
    </script>

    <script id="task15-subgroup-letters" type="application/json">
        {{ task15_subgroup_letters|safe }}
    </script>

    <script id="task16-letter-groups" type="application/json">
        {{ task16_letter_groups|safe }}
    </script>

    <script id="task16-subgroup-letters" type="application/json">
        {{ task16_subgroup_letters|safe }}
    </script>

    <script id="task17-letter-groups" type="application/json">
        {{ task17_letter_groups|safe }}
    </script>

    <script id="task17-subgroup-letters" type="application/json">
        {{ task17_subgroup_letters|safe }}
    </script>

    <script id="task18-letter-groups" type="application/json">
        {{ task18_letter_groups|safe }}
    </script>

    <script id="task18-subgroup-letters" type="application/json">
        {{ task18_subgroup_letters|safe }}
    </script>

    <script id="task19-letter-groups" type="application/json">
        {{ task19_letter_groups|safe }}
    </script>

    <script id="task19-subgroup-letters" type="application/json">
        {{ task19_subgroup_letters|safe }}
    </script>

    <script id="task20-letter-groups" type="application/json">
        {{ task20_letter_groups|safe }}
    </script>

    <script id="task20-subgroup-letters" type="application/json">
        {{ task20_subgroup_letters|safe }}
    </script>

    <script id="task21-letter-groups" type="application/json">
        {{ task21_letter_groups|safe }}
    </script>

    <script id="task21-subgroup-letters" type="application/json">
        {{ task21_subgroup_letters|safe }}
    </script>

</div>