<!DOCTYPE html>
<html lang="ru">

<head>
    {% load static %} <!-- ЭТО ОБЯЗАТЕЛЬНО! -->
    <meta charset="UTF-8">
    <title>Нейростат</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="/static/css/planning_style.css">
</head>

<body>
    <div class="page">
        <header>
            <nav>
                <!-- Левая часть: классы -->
                <div>
                    <a href="{% url 'planning_5kl' %}">5 класс</a>
                    <a href="{% url 'planning_6kl' %}">6 класс</a>
                    <a href="{% url 'planning_7kl' %}">7 класс</a>
                    <a href="{% url 'planning_8kl' %}">8 класс</a>
                    <a href="{% url 'ege' %}">ЕГЭ (русский)</a>
                </div>

                <!-- Правая часть: кнопки -->
                <div class="right-nav">
                    {% if user.is_authenticated %}
                    <a href="{% url 'profile' %}">ЛК</a>
                    <form method="post" action="{% url 'logout' %}?next=/">
                        {% csrf_token %}
                        <button type="submit">Выйти</button>
                    </form>
                    {% else %}
                    <a href="{% url 'register' %}" style="margin-right: 15px;">Зарегистрироваться</a>
                    <a href="{% url 'login' %}">Войти</a>
                    {% endif %}
                </div>
            </nav>
        </header>

        <main>
            <a href="{% url 'starting_diagnostic' %}" class="check-task green">Входящая диагностика ЕГЭ</a>
            <a href="{% url 'starting_diagnostic_oge' %}" class="check-task green">Входящая диагностика ОГЭ</a>
            <a href="{% url 'starting_diagnostic' %}" class="check-task green">Текущая диагностика</a>
            {% comment %} <button class="check-task green" data-diagnostic="result-diagnostic">Итоговая
                диагностика</button> {% endcomment %}

            <h1>Добро пожаловать в электронные планинги!</h1>
            <p>Для школьников 5–7 классов</p>
            <p>Полноценно пользоваться планингом можно, зарегистрировавшись на сайте. После регистрации на почту придет
                письмо с подтверждением:</p>
            <p>- пройдите по ссылке, </p>
            <p>- на главной странице нажмите кнопку личного кабинета ЛК,</p>
            <p>- заполните анкету.</p> <br>
            <p>Теперь можно делать записи в планингах. Они всегда будут под рукой.</p> <br>
            <p>Мы заботимся о Вашей безопасности!</p> <br>

            <article>
                <h2>КАК ПОЛЬЗОВАТЬСЯ ПЛАНИНГАМИ</h2>
                <p>Это помощники на дороге к грамотности. Это индивидуальный план по освоению всех орфограмм и
                    пунктограмм, которые должен знать каждый школьник. Когда орфограммы не видишь все и «в лицо»,
                    кажется, что их бессчетное количество... Но это совсем не так.</p>
                <p>Планинг поможет УЗНАВАТЬ орфограммы и пунктограммы. Он ПОДСКАЖЕТ, как с ними обходиться, чтобы не
                    делать ошибок.</p>
                <p>Как же узнавать орфограммы?</p>
                <p>У каждой из них есть номер в учебнике. Эти номера не надо запоминать. Они играют роль маячков,
                    которые предупреждают об опасности. И подсказывают, как её избежать. Со временем ты привыкнешь к
                    этим маячкам и будешь легко ими пользоваться (помогут еще «Таблиц орфограмм»). Надо только
                    обязательно сделать предварительные шаги:</p>
                <p>1. Угадай СОСТАВ слова и определи, где находится сомнительная буква (в приставке, корне, суффиксе или
                    окончании). Теперь можно посмотреть в Таблицу орфограмм: там орфограммы собраны как раз по морфемам
                    (частям слова). Так ты узнаешь номер орфограммы.</p>
                <p>2. Найди этот номер и название орфограммы в планинге (первая строчка в сетке). Впиши слово в столбик
                    под этим номером, оставив пустым место для трудной буквы.</p>
                <p>3. Посмотри на подсказку, которая есть во второй строчке сетки. Многое прояснится!</p>
                <p>4. Обозначишь графически орфограмму – это подскажет третья строчка сетки: в обозначении кроется
                    секрет буквы и его разгадка.</p>
                <p>-------------------</p>
                <p>Пользуйся планингом ДО ДИКТАНТА: это будет твой черновик, «разминка» перед диктантом и подсказка
                    самому себе – попроси учителя или маму прочитать предварительно диктант очень медленно для
                    разнесения слов с орфограммами, которые удалось уловить, в нужные ячейки сетки.</p>
                <p>ПОСЛЕ ДИКТАНТА: чтобы при самопроверке найти подсказки в планинге и исправить ошибки.</p>
                <p>ДОМА: когда уже получишь диктант с оценкой и подчеркнутыми ошибками (чтобы найти столбик для каждой
                    подчеркнутой орфограммы и собрать в нем, например, десять подобных слов (с этой орфограммой) – их
                    можно взять из учебника, лучше с пропущенной буквой).</p> <br>
                <p>Не забудь везде обозначать орфограмму! Ведь обозначение все тайное делает явным!</p>
            </article>


        </main>

        {% include "chat_widget.html" %}


    </div>

    <script src="/static/js/main.js"></script>
</body>

</html>