<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}  <!-- ЭТО ОБЯЗАТЕЛЬНО! -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>5 класс — NeuroStat</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/planning_style.css">
    <link rel="stylesheet" href="/static/css/media_planning.css">
    <link rel="stylesheet" href="/static/css/reset.css">
</head>
<body>
    <header>
        <a href="/">← Назад</a>
    </header>

    <main>
        <img src="/static/images/Plakat_5kl.webp" alt="Плакат 5 класса" style="width: 100%; height: auto; display: block;">

        <h2 class="title-planing">Планинг</h2>

        <article class="article-table-container">
            <h2 class="title-table-container">Орфограммы 1-5</h2>
            <section class="table-container">
                <div class="item item-1">
                    <h3 class="title-orf"><span class="circle">1</span></h3>
                    <p class="subtitle-orf">Проверяемая безударная гласная в <span class="text-orf-effects">корне</span> слова</p>    
                </div>
                <div class="item item-2">
                    <h3 class="title-orf"><span class="circle">2</span></h3>
                    <p class="subtitle-orf">Непроверяемые гласные и согласные в <span class="text-orf-effects">корне</span></p>    
                </div>
                <div class="item item-3">
                    <h3 class="title-orf"><span class="circle">3</span></h3>
                    <p class="subtitle-orf">Сомнительная согласная в <span class="text-orf-effects">корне</span> слова</p>
                </div>
                <div class="item item-4">
                    <h3 class="title-orf"><span class="circle">4</span></h3>
                    <p class="subtitle-orf">Непроизносимая согласная в <span class="text-orf-effects">корне</span> слова</p>
                </div>
                <div class="item item-5">
                    <h3 class="title-orf"><span class="circle">5</span></h3>
                    <p class="subtitle-orf">И, У, А после шипящих</p>
                </div>
                <div class="item item-6">
                    <p class="text-orf">Подобрать проверочное слово, где эта гласная <span class="text-orf-effects">под ударением</span></p>
                </div>
                <div class="item item-7">
                    <p class="text-orf">Вспомнить или найти в словаре</p>
                </div>
                <div class="item item-8">
                    <p class="text-orf">Подобрать проверочное слово с <span class="text-orf-effects">гласной</span> после сомнительной согласной</p>
                </div>
                <div class="item item-9">
                    <p class="text-orf">Вспомнить или проверить словом, где после возможной непроизносимой согласной есть гласная</p>
                </div>
                <div class="item item-10">
                    <p class="text-orf">После Ж, Ч, Ш, Щ не пишутся Ы, Ю, Я – только И, У, А</p>
                </div>
                <div class="item item-11"><img class="item-png" src="/static/images/1.png" alt="орфограмма 1" loading="lazy"></div>
                <div class="item item-12"><img class="item-png" src="/static/images/2.png" alt="орфограмма 2" loading="lazy"></div>
                <div class="item item-13"><img class="item-png" src="/static/images/3.png" alt="орфограмма 3" loading="lazy"></div>
                <div class="item item-14"><img class="item-png" src="/static/images/4.png" alt="орфограмма 4" loading="lazy"></div>
                <div class="item item-15"><img class="item-png" src="/static/images/5.png" alt="орфограмма 5" loading="lazy"></div>
                <div class="item item-16">
                    <textarea id="item-text-1" class="input-text" name="user-input-orf-1" rows="3" placeholder="Напишите примеры"></textarea><br>
                </div>
                <div class="item item-17">
                    <textarea id="item-text-2" class="input-text" name="user-input-orf-2" rows="3" placeholder="Напишите примеры"></textarea><br>
                </div>
                <div class="item item-18">
                    <textarea id="item-text-3" class="input-text" name="user-input-orf-3" rows="3" placeholder="Напишите примеры"></textarea><br>
                </div>
                <div class="item item-19">
                    <textarea id="item-text-4" class="input-text" name="user-input-orf-4" rows="3" placeholder="Напишите примеры"></textarea><br>
                </div>
                <div class="item item-20">
                    <textarea id="item-text-5" class="input-text" name="user-input-orf-5" rows="3" placeholder="Напишите примеры"></textarea><br>
                </div>
            </section>
        </article>

        <article class="article-table-container">
            <h2 class="title-table-container">Орфограммы 6-10</h2>
            <section class="table-container">
                <div class="item item-1">
                    <h3 class="title-orf"><span class="circle">6</span></h3>
                    <p class="subtitle-orf">Разделительные <span class="bold">Ъ и Ь</span></p>    
                </div>
                <div class="item item-2">
                    <h3 class="title-orf"><span class="circle">7</span></h3>
                    <p class="subtitle-orf"><span class="text-orf-effects">Предлоги</span> со словами</p>    
                </div>
                <div class="item item-3">
                    <h3 class="title-orf"><span class="circle">8</span></h3>
                    <p class="subtitle-orf"><span class="bold">Ь</span> на конце <span class="text-orf-effects">существительных</span> после шипящих</p>
                </div>
                <div class="item item-4">
                    <h3 class="title-orf"><span class="circle">9</span></h3>
                    <p class="subtitle-orf"><span class="bold">Ь</span> для обозначения мягкости согласных. Сочетание ЧК, ЧН, РЩ и др.</p>
                </div>
                <div class="item item-5">
                    <h3 class="title-orf"><span class="circle">10</span></h3>
                    <p class="subtitle-orf">Одновариантные <span class="text-orf-effects">приставки</span></p>
                </div>
                <div class="item item-6">
                    <p class="text-orf">Если знак находится <span class="bold">после приставки</span> перед <span class="text-orf-effects">Е, Ё, Ю, Я</span>, то пишется <span class="bold">Ъ</span>. В остальных случаях <span class="bold">Ь</span></p>
                </div>
                <div class="item item-7">
                    <p class="text-orf">Поставить слово в <span class="text-orf-effects">И.п.</span> – предлог «отпадет»</p>
                </div>
                <div class="item item-8">
                    <p class="text-orf">В конце существительных <span class="text-orf-effects">III скл.</span> всегда после шипящих пишется <span class="text-orf-effects">Ь</span></p>
                </div>
                <div class="item item-9">
                    <p class="text-orf">После мягкой согласной пишется <span class="bold">Ь</span>. В сочетаниях согласных <span class="text-orf-effects">ЧК, ЧН, РЩ</span> и др. <span class="bold">Ь</span> не пишется</span></p>
                </div>
                <div class="item item-10">
                    <p class="text-orf">Вспомнить: всегда пишутся одинаково</p>
                </div>
                <div class="item item-11"><img class="item-png" src="/static/images/6.png" alt="орфограмма 6" loading="lazy"></div>
                <div class="item item-12"><img class="item-png" src="/static/images/7.png" alt="орфограмма 7" loading="lazy"></div>
                <div class="item item-13"><img class="item-png" src="/static/images/8.png" alt="орфограмма 8" loading="lazy"></div>
                <div class="item item-14"><img class="item-png" src="/static/images/9.png" alt="орфограмма 9" loading="lazy"></div>
                <div class="item item-15"><img class="item-png" src="/static/images/10.png" alt="орфограмма 10" loading="lazy"></div>
                <div class="item item-16">
                    <textarea id="item-text-6" class="input-text" name="user-input-orf-6" rows="3" placeholder="Напишите примеры"></textarea><br>
                </div>
                <div class="item item-17">
                    <textarea id="item-text-7" class="input-text" name="user-input-orf-7" rows="3" placeholder="Напишите примеры"></textarea><br>
                </div>
                <div class="item item-18">
                    <textarea id="item-text-8" class="input-text" name="user-input-orf-8" rows="3" placeholder="Напишите примеры"></textarea><br>
                </div>
                <div class="item item-19">
                    <textarea id="item-text-9" class="input-text" name="user-input-orf-9" rows="3" placeholder="Напишите примеры"></textarea><br>
                </div>
                <div class="item item-20">
                    <textarea id="item-text-10" class="input-text" name="user-input-orf-10" rows="3" placeholder="Напишите примеры"></textarea><br>
                </div>
            </section>
        </article>

        <article class="article-table-container">
            <h2 class="title-table-container">Орфограммы 11-15</h2>
            <section class="table-container">
                <div class="item item-1">
                    <h3 class="title-orf"><span class="circle">11</span></h3>
                    <p class="subtitle-orf"><span class="text-orf-effects">Приставки</span> на -З и -С</p>    
                </div>
                <div class="item item-2">
                    <h3 class="title-orf"><span class="circle">12</span></h3>
                    <p class="subtitle-orf">О и А в <span class="text-orf-effects">корне</span> -ЛАГ-, -ЛОЖ-</p>    
                </div>
                <div class="item item-3">
                    <h3 class="title-orf"><span class="circle">13</span></h3>
                    <p class="subtitle-orf">О и А в <span class="text-orf-effects">корне</span> -РАСТ-, -РОС-</p>
                </div>
                <div class="item item-4">
                    <h3 class="title-orf"><span class="circle">14</span></h3>
                    <p class="subtitle-orf">Ё-О после шипящих в <span class="text-orf-effects">корне</span> слова</p>
                </div>
                <div class="item item-5">
                    <h3 class="title-orf"><span class="circle">15</span></h3>
                    <p class="subtitle-orf">И-Ы после Ц</p>
                </div>
                <div class="item item-6">
                    <p class="text-orf">Посмотреть на первую согласную после приставки: если <span class="bold">глухая</span> – в приставке пишем глухую <span class="text-orf-effects">С</span>. И <span class="bold">наоборот</span></p>
                </div>
                <div class="item item-7">
                    <p class="text-orf">Перед <span class="bold">Г</span> пишется <span class="text-orf-effects">А</span>, перед <span class="bold">Ж</span> – <span class="text-orf-effects">О</span></p>
                </div>
                <div class="item item-8">
                    <p class="text-orf">Если в корне после одной из этих предполагаемых гласных есть согласные <span class="bold">СТ</span> или <span class="bold">Щ</span>, пишется <span class="text-orf-effects">А</span>, если нет – <span class="text-orf-effects">О</span> (кроме некоторых слов-исключений: росток, Ростов, Ростислав, ростовщик; отрасль)</p>
                </div>
                <div class="item item-9">
                    <p class="text-orf">Под ударением пишется <span class="bold">Ё</span> (кроме некоторых слов-исключений: шов, шорох, крыжовник, капюшон, цоколь, чопорный, шомпол и др.)</p>
                </div>
                <div class="item item-10">
                    <p class="text-orf">В <span class="text-orf-effects">корне</span> после Ц и словах на <span class="bold">-ЦИЯ</span> пишется <span class="text-orf-effects">И</span>, в <span class="bold">суффиксе</span> и <span class="bold">окончании</span> – <span class="text-orf-effects">Ы</span> (кроме некоторых слов-исключений: цыган, цыпочки, цыпленок, цыкнуть)</p>
                </div>
                <div class="item item-11"><img class="item-png" src="/static/images/11.png" alt="орфограмма 11" loading="lazy"></div>
                <div class="item item-12"><img class="item-png" src="/static/images/12.png" alt="орфограмма 12" loading="lazy"></div>
                <div class="item item-13"><img class="item-png" src="/static/images/13.png" alt="орфограмма 13" loading="lazy"></div>
                <div class="item item-14"><img class="item-png" src="/static/images/14.png" alt="орфограмма 14" loading="lazy"></div>
                <div class="item item-15"><img class="item-png" src="/static/images/15.png" alt="орфограмма 15" loading="lazy"></div>
                <div class="item item-16">
                    <textarea id="item-text-11" class="input-text" name="user-input-orf-11" rows="3" placeholder="Напишите примеры"></textarea><br>
                </div>
                <div class="item item-17">
                    <textarea id="item-text-12" class="input-text" name="user-input-orf-12" rows="3" placeholder="Напишите примеры"></textarea><br>
                </div>
                <div class="item item-18">
                    <textarea id="item-text-13" class="input-text" name="user-input-orf-13" rows="3" placeholder="Напишите примеры"></textarea><br>
                </div>
                <div class="item item-19">
                    <textarea id="item-text-14" class="input-text" name="user-input-orf-14" rows="3" placeholder="Напишите примеры"></textarea><br>
                </div>
                <div class="item item-20">
                    <textarea id="item-text-15" class="input-text" name="user-input-orf-15" rows="3" placeholder="Напишите примеры"></textarea><br>
                </div>
            </section>
        </article>

        <article class="article-table-container">
            <h2 class="title-table-container">Орфограммы 16-20</h2>
            <section class="table-container">
                <div class="item item-1">
                    <h3 class="title-orf"><span class="circle">16</span></h3>
                    <p class="subtitle-orf">Большая буква в <span class="text-orf-effects">собственных наименованиях</span></p>    
                </div>
                <div class="item item-2">
                    <h3 class="title-orf"><span class="circle">17</span></h3>
                    <p class="subtitle-orf">Е-И в окончаниях существительных</p>    
                </div>
                <div class="item item-3">
                    <h3 class="title-orf"><span class="circle">18</span></h3>
                    <p class="subtitle-orf">О-Е после <span class="bold">шипящих</span> и <span class="bold">Ц</span> в окончаниях <span class="text-orf-effects">существ. и прилагательных</span></p>
                </div>
                <div class="item item-4">
                    <h3 class="title-orf"><span class="circle">19</span></h3>
                    <p class="subtitle-orf">Окончания прилагательных</p>
                </div>
                <div class="item item-5">
                    <h3 class="title-orf"><span class="circle">20</span></h3>
                    <p class="subtitle-orf">Ь в <span class="text-orf-effects">кратких</span> прилагательных</p>
                </div>
                <div class="item item-6">
                    <p class="text-orf">В начале различных названий, имен и т.д. пишется большая буква</p>
                </div>
                <div class="item item-7">
                    <p class="text-orf">Определить склонение и падеж. <br> <span class="text-orf-effects">И</span> – в окончаниях Р. п. I скл., <br> в Р.Д.,П. п. III скл., <br> в словах на -ИЯ, <br> в  П.п. на -ИЙ, -ИЕ. <br> <span class="text-orf-effects">Е</span> – в остальных.</p>
                </div>
                <div class="item item-8">
                    <p class="text-orf">Под ударением – О, <br> без ударения – Е</p>
                </div>
                <div class="item item-9">
                    <p class="text-orf">Задать ВОПРОС. Окончание вопроса подскажет окончание. Окончание МУЖ. Р. в ИМЕНИТ. и СХОДНОМ ВИНИТ. падежах НЕЛЬЗЯ ПРОВЕРЯТЬ вопросом – имеют окончания -ЫЙ, -ИЙ, -ОЙ вне зависимости от вопроса (какой?)</p>
                </div>
                <div class="item item-10">
                    <p class="text-orf">В <span class="text-orf-effects">кратких</span> прилагательных после шипящих <span class="text-orf-effects">Ь</span> не пишется</p>
                </div>
                <div class="item item-11"><img class="item-png" src="/static/images/16.png" alt="орфограмма 16" loading="lazy"></div>
                <div class="item item-12"><img class="item-png" src="/static/images/17.png" alt="орфограмма 17" loading="lazy"></div>
                <div class="item item-13"><img class="item-png" src="/static/images/18.png" alt="орфограмма 18" loading="lazy"></div>
                <div class="item item-14"><img class="item-png" src="/static/images/19.png" alt="орфограмма 19" loading="lazy"></div>
                <div class="item item-15"><img class="item-png" src="/static/images/20.png" alt="орфограмма 20" loading="lazy"></div>
                <div class="item item-16">
                    <textarea id="item-text-16" class="input-text" name="user-input-orf-16" rows="3" placeholder="Напишите примеры"></textarea><br>
                </div>
                <div class="item item-17">
                    <textarea id="item-text-17" class="input-text" name="user-input-orf-17" rows="3" placeholder="Напишите примеры"></textarea><br>
                </div>
                <div class="item item-18">
                    <textarea id="item-text-18" class="input-text" name="user-input-orf-18" rows="3" placeholder="Напишите примеры"></textarea><br>
                </div>
                <div class="item item-19">
                    <textarea id="item-text-19" class="input-text" name="user-input-orf-19" rows="3" placeholder="Напишите примеры"></textarea><br>
                </div>
                <div class="item item-20">
                    <textarea id="item-text-20" class="input-text" name="user-input-orf-20" rows="3" placeholder="Напишите примеры"></textarea><br>
                </div>
            </section>
        </article>

        <article class="article-table-container">
            <h2 class="title-table-container">Орфограммы 21-25</h2>
            <section class="table-container">
                <div class="item item-1">
                    <h3 class="title-orf"><span class="circle">21<span></h3>
                    <p class="subtitle-orf">НЕ с <span class="text-orf-effects">глаголами</span></p>    
                </div>
                <div class="item item-2">
                    <h3 class="title-orf"><span class="circle">22</span></h3>
                    <p class="subtitle-orf"><span class="bold">Ь</span> после шипящих в <span class="text-orf-effects">глаголах</span></p>    
                </div>
                <div class="item item-3">
                    <h3 class="title-orf"><span class="circle">23</span></h3>
                    <p class="subtitle-orf">-ТСЯ и -ТЬСЯ в <span class="text-orf-effects">глаголах</span></p>
                </div>
                <div class="item item-4">
                    <h3 class="title-orf"><span class="circle">24<span></h3>
                    <p class="subtitle-orf">Е и И в <span class="text-orf-effects">корнях</span> с <span class="bold">чередованиями</span></p>
                </div>
                <div class="item item-5">
                    <h3 class="title-orf"><span class="circle">25</span></h3>
                    <p class="subtitle-orf">Е и И в окончаниях <span class="text-orf-effects">глаголов</span> I и II спр.</p>
                </div>
                <div class="item item-6">
                    <p class="text-orf">НЕ с глаголами всегда пишется <span class="bold">раздельно</span> (кроме случаев, когда слово не употребляется без НЕ)</p>
                </div>
                <div class="item item-7">
                    <p class="text-orf">В глаголах <span class="bold">II лица</span> ед.ч. (можно подставить <span class="text-orf-effects">ТЫ…</span>) – <span class="text-orf-effects">всегда</span> пишется Ь. <br> В глаголах в <span class="bold">неопределенной форме</span> (инфинитиве) также пишется <span class="bold">Ь</span></p>
                </div>
                <div class="item item-8">
                    <p class="text-orf">Задать <span class="bold">вопрос</span> к глаголу. Если в нем есть <span class="text-orf-effects">Ь</span>, то есть <span class="bold">Ь</span> и в глаголе</p>
                </div>
                <div class="item item-9">
                    <p class="text-orf">Это множество корней: -дер- -дир-, -мер- -мир-, -бер- -бир-, -пер- -пир-, -тер- -тир-, -блест- -блист-, -жег- -жиг-, -стел- -стил-, -чет- -чит-.  Посмотреть, есть ли <span class="bold">суффикс А</span>. Если он есть, то в корне пишется буква <span class="bold">И</span>. <br> Если нет – то <span class="bold">Е</span></p>
                </div>
                <div class="item item-10">
                    <p class="text-orf">Поставить глагол в неопределенную форму. <br> Если оканчивается на <span class="bold">-АТЬ, -ЯТЬ,  -ЕТЬ, -ОТЬ, -УТЬ, -ЫТЬ</span>, то это глагол <span class="text-orf-effects">I спр.</span> <br> Если на <span class="bold">-ИТЬ</span>, то глагол <span class="text-orf-effects">II спр.</span> В 11 глаголах-исключениях наоборот. <br> У глаголов <span class="text-orf-effects">I спр.</span> в окончании пишется <span class="bold">Е</span>. У глаг. <span class="text-orf-effects">II спр.</span> – <span class="bold">И</span></p>
                </div>
                <div class="item item-11"><img class="item-png" src="/static/images/21.png" alt="орфограмма 21" loading="lazy"></div>
                <div class="item item-12"><img class="item-png" src="/static/images/22.png" alt="орфограмма 22" loading="lazy"></div>
                <div class="item item-13"><img class="item-png" src="/static/images/23.png" alt="орфограмма 23" loading="lazy"></div>
                <div class="item item-14"><img class="item-png" src="/static/images/24.png" alt="орфограмма 24" loading="lazy"></div>
                <div class="item item-15"><img class="item-png" src="/static/images/25.png" alt="орфограмма 25" loading="lazy"></div>
                <div class="item item-16">
                    <textarea id="item-text-21" class="input-text" name="user-input-orf-21" rows="3" placeholder="Напишите примеры"></textarea><br>
                </div>
                <div class="item item-17">
                    <textarea id="item-text-22" class="input-text" name="user-input-orf-22" rows="3" placeholder="Напишите примеры"></textarea><br>
                </div>
                <div class="item item-18">
                    <textarea id="item-text-23" class="input-text" name="user-input-orf-23" rows="3" placeholder="Напишите примеры"></textarea><br>
                </div>
                <div class="item item-19">
                    <textarea id="item-text-24" class="input-text" name="user-input-orf-24" rows="3" placeholder="Напишите примеры"></textarea><br>
                </div>
                <div class="item item-20">
                    <textarea id="item-text-25" class="input-text" name="user-input-orf-25" rows="3" placeholder="Напишите примеры"></textarea><br>
                </div>
            </section>
        </article>

        
        

        <!-- Скрытое поле с CSRF-токеном -->
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    </main>

    <script src="{% static 'js/planning.js' %}"></script>
</body>
</html>