<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}  <!-- ЭТО ОБЯЗАТЕЛЬНО! -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>8 класс — NeuroStat</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/planning_style.css">
    <link rel="stylesheet" href="/static/css/media_planning.css">
    <link rel="stylesheet" href="/static/css/reset.css">
</head>
<body>
    <header class="header">
        <a href="/">← Назад</a>
    </header>

    <main>

        <section class="block-orthogram-selector">
            <h2 class="title-planing">Выберите задание по номеру орфограммы</h2>
            
            <article class="orthogram-buttons-container">
                <div class="orthogram-buttons">
                    <button class="orthogram-button green" data-orthogram="1_8">1</button>
                    <button class="orthogram-button green" data-orthogram="2_8">2</button>
                </div>
            </article>
            <p>* готовые задания отмечены зеленым</p>
        </section>
        
        <section class="block-answer"></section>

        <h2 class="title-planing">Планинг</h2>

        <article class="article-table-container">
            <h2 class="title-table-container">Орфограммы 1-2</h2>
            <section class="table-container-onetwo">
                <div class="item item-1">
                    <h3 class="title-orf"><span class="circle">1</span></h3>
                    <p class="subtitle-orf">Проверяемая безударная гласная в <span class="text-orf-effects">корне</span> слова</p>    
                </div>
                <div class="item item-2">
                    <h3 class="title-orf"><span class="circle">2</span></h3>
                    <p class="subtitle-orf">Непроверяемые гласные и согласные в <span class="text-orf-effects">корне</span></p>    
                </div>
                <div class="item item-6">
                    <p class="text-orf">Подобрать проверочное слово, где эта гласная <span class="text-orf-effects">под ударением</span></p>
                </div>
                <div class="item item-7">
                    <p class="text-orf">Вспомнить или найти в словаре</p>
                </div>
                <div class="item item-11"><img class="item-png" src="/static/images/1.png" alt="орфограмма 1" loading="lazy"></div>
                <div class="item item-12"><img class="item-png" src="/static/images/2.png" alt="орфограмма 2" loading="lazy"></div>
                <div class="item item-16">
                    <textarea id="item-text-1_7" class="input-text" name="user-input-orf-1_7" rows="3" placeholder="Напишите примеры"></textarea><br>
                </div>
                <div class="item item-17">
                    <textarea id="item-text-2_7" class="input-text" name="user-input-orf-2_7" rows="3" placeholder="Напишите примеры"></textarea><br>
                </div>
            </section>
        </article>

        <img src="/static/images/table_punkt_5-9.webp" alt="Таблица пунктограмм 5-9 кл" style="width: 100%; height: auto; display: block;">
        

        <!-- Скрытое поле с CSRF-токеном -->
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    </main>

    <script src="{% static 'js/planning.js' %}"></script>
</body>
</html>