<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}  <!-- ЭТО ОБЯЗАТЕЛЬНО! -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>7 класс — NeuroStat</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/planning_style.css">
    <link rel="stylesheet" href="/static/css/media_planning.css">
    <link rel="stylesheet" href="/static/css/reset.css">
</head>
<body>
    <header class="header">
        <a href="/">← Назад</a>
        <a href="{% url 'targetn' %}" class="way_games">Попади в цель → Н и НН</a>
    </header>

    <main>
        <img src="/static/images/Plakat_7kl.webp" alt="Плакат 7 класса" style="width: 100%; height: auto; display: block;">

        <section class="block-orthogram-selector">
            <h2 class="title-planing">Выберите задание по номеру орфограммы</h2>
            
            <article class="orthogram-buttons-container">
                <div class="orthogram-buttons">
                    <button class="orthogram-button green" data-orthogram="1_7">1</button>
                    <button class="orthogram-button green" data-orthogram="2_7">2</button>
                    <button class="orthogram-button">19</button>
                    <button class="orthogram-button">49</button>
                    <button class="orthogram-button">50</button>
                    <button class="orthogram-button">51</button>
                    <button class="orthogram-button">52</button>
                    <button class="orthogram-button">53</button>
                    <button class="orthogram-button green" data-orthogram="54">54</button>
                    <button class="orthogram-button">55</button>
                    <button class="orthogram-button green" data-orthogram="56">56</button>
                    <button class="orthogram-button">57</button>
                    <button class="orthogram-button">58</button>
                    <button class="orthogram-button">59</button>
                    <button class="orthogram-button">60</button>
                    <button class="orthogram-button">61</button>
                    <button class="orthogram-button green" data-orthogram="62">62</button>
                    <button class="orthogram-button green" data-orthogram="621">62.1</button>
                    <button class="orthogram-button">63</button>
                    <button class="orthogram-button green" data-orthogram="64">64</button>
                    <button class="orthogram-button green" data-orthogram="65">65</button>
                    <button class="orthogram-button">66</button>
                    <button class="orthogram-button green" data-orthogram="67">67</button>
                    <button class="orthogram-button green" data-orthogram="68">68</button>
                    <button class="orthogram-button green" data-orthogram="69">69</button>
                    <button class="orthogram-button green" data-orthogram="70">70</button>
                </div>
            </article>
            <p>* готовые задания отмечены зеленым</p>
        </section>
        
        <section class="block-answer"></section>

        <h2 class="title-planing">Планинг</h2>

        <article class="article-table-container">
            <h2 class="title-table-container">Орфограммы 1-2</h2>
            <section class="table-container-onetwo">
                <div class="item item-1">
                    <h3 class="title-orf"><span class="circle">1</span></h3>
                    <p class="subtitle-orf">Проверяемая безударная гласная в <span class="text-orf-effects">корне</span> слова</p>    
                </div>
                <div class="item item-2">
                    <h3 class="title-orf"><span class="circle">2</span></h3>
                    <p class="subtitle-orf">Непроверяемые гласные и согласные в <span class="text-orf-effects">корне</span></p>    
                </div>
                <div class="item item-6">
                    <p class="text-orf">Подобрать проверочное слово, где эта гласная <span class="text-orf-effects">под ударением</span></p>
                </div>
                <div class="item item-7">
                    <p class="text-orf">Вспомнить или найти в словаре</p>
                </div>
                <div class="item item-11"><img class="item-png" src="/static/images/1.png" alt="орфограмма 1" loading="lazy"></div>
                <div class="item item-12"><img class="item-png" src="/static/images/2.png" alt="орфограмма 2" loading="lazy"></div>
                <div class="item item-16">
                    <textarea id="item-text-1_7" class="input-text" name="user-input-orf-1_7" rows="3" placeholder="Напишите примеры"></textarea><br>
                </div>
                <div class="item item-17">
                    <textarea id="item-text-2_7" class="input-text" name="user-input-orf-2_7" rows="3" placeholder="Напишите примеры"></textarea><br>
                </div>
            </section>
        </article>

        <article class="article-table-container">
            <h2 class="title-table-container">Орфограммы 19, 49-52</h2>
            <section class="table-container">
                <div class="item item-1">
                    <h3 class="title-orf"><span class="circle">19</span></h3>
                    <p class="subtitle-orf">Окончания причастий</p>    
                </div>
                <div class="item item-2">
                    <h3 class="title-orf"><span class="circle">49</span></h3>
                    <p class="subtitle-orf">Гласные в суфф. <span class="text-orf-effects">действит. причастий</span> наст. времени</p>    
                </div>
                <div class="item item-3">
                    <h3 class="title-orf"><span class="circle">50</span></h3>
                    <p class="subtitle-orf">Суффиксы <span class="text-orf-effects">страдательных причастий</span> -ЕМ- и -ИМ-</p>
                </div>
                <div class="item item-4">
                    <h3 class="title-orf"><span class="circle">51</span></h3>
                    <p class="subtitle-orf">Гласные перед Н в <span class="text-orf-effects">страдательных причастия</span></p>
                </div>
                <div class="item item-5">
                    <h3 class="title-orf"><span class="circle">52</span></h3>
                    <p class="subtitle-orf">НН в суффиксах <span class="text-orf-effects">страдательных причастий</span></p>
                </div>
                <div class="item item-6">
                    <p class="text-orf">Задать ВОПРОС от главного слова. Окончание вопроса подскажет окончание. Окончание МУЖ. Р. в ИМЕНИТ. и СХОДНОМ ВИНИТ. падежах НЕЛЬЗЯ ПРОВЕРЯТЬ вопросом – имеют окончания -ЫЙ, -ИЙ вне зависимости от вопроса (какой?)</p>
                </div>
                <div class="item item-7">
                    <p class="text-orf">Подобрать соответствующий глагол в неопределенной форме. Если он <span class="bold">I спр.</span>, то пишется <span class="bold">-УЩ-(-ЮЩ-)</span>; <br> если <span class="bold">II спр.</span>, то <span class="bold">-АЩ-(-ЯЩ-)</span></p>
                </div>
                <div class="item item-8">
                    <p class="text-orf"><span class="bold">Е</span>: когда образованы от глаголов <span class="bold">I спр.</span>; <br> <span class="bold">И</span>: когда образованы от глаголов <span class="bold">II спр.</span></p>
                </div>
                <div class="item item-9">
                    <p class="text-orf"><span class="bold">А и Я</span> пишутся перед Н или НН в причастиях, образованных от глаголов на <span class="bold">-ать или –ять</span>. <br> <span class="bold">Е</span> – в причастиях, образованных от глаголов на <span class="bold">-ить или -еть</span></p>
                </div>
                <div class="item item-10">
                    <p class="text-orf">1) причастие имеет <span class="bold">приставку</span> (кроме не-); <br> 2) причастие в составе причастного <span class="bold">оборота</span>; <br> 3) причастия, образованные от <span class="bold">глаголов совершенного вида</span> без приставки; <br> 4) причастие образовано от глаголов с суффиксами <span class="bold">-ова-, -ева-, -ирова-</span></p>
                </div>
                <div class="item item-11"><img class="item-png" src="/static/images/19pr.png" alt="орфограмма 19pr" loading="lazy"></div>
                <div class="item item-12"><img class="item-png" src="/static/images/49.png" alt="орфограмма 49" loading="lazy"></div>
                <div class="item item-13"><img class="item-png" src="/static/images/50.png" alt="орфограмма 50" loading="lazy"></div>
                <div class="item item-14"><img class="item-png" src="/static/images/51.png" alt="орфограмма 51" loading="lazy"></div>
                <div class="item item-15"><img class="item-png" src="/static/images/52.png" alt="орфограмма 52" loading="lazy"></div>
                <div class="item item-16">
                    <textarea id="item-text-19pr" class="input-text" name="user-input-orf-19pr" rows="3" placeholder="Напишите примеры"></textarea><br>
                </div>
                <div class="item item-17">
                    <textarea id="item-text-49" class="input-text" name="user-input-orf-49" rows="3" placeholder="Напишите примеры"></textarea><br>
                </div>
                <div class="item item-18">
                    <textarea id="item-text-50" class="input-text" name="user-input-orf-50" rows="3" placeholder="Напишите примеры"></textarea><br>
                </div>
                <div class="item item-19">
                    <textarea id="item-text-51" class="input-text" name="user-input-orf-51" rows="3" placeholder="Напишите примеры"></textarea><br>
                </div>
                <div class="item item-20">
                    <textarea id="item-text-52" class="input-text" name="user-input-orf-52" rows="3" placeholder="Напишите примеры"></textarea><br>
                </div>
            </section>
        </article>

        <article class="article-table-container">
            <h2 class="title-table-container">Орфограммы 53-57</h2>
            <section class="table-container">
                <div class="item item-1">
                    <h3 class="title-orf"><span class="circle">53</span></h3>
                    <p class="subtitle-orf"><span class="bold">Н</span> и <span class="bold">НН</span> в суфф. <span class="bold">кратких прич.</span> и <span class="bold">отглаг. прилагат.</span></p>    
                </div>
                <div class="item item-2">
                    <h3 class="title-orf"><span class="circle">54</span></h3>
                    <p class="subtitle-orf">НЕ с <span class="bold">причастиями</span></p>    
                </div>
                <div class="item item-3">
                    <h3 class="title-orf"><span class="circle">55</span></h3>
                    <p class="subtitle-orf">Е и Ё после шипящих в суффиксах <span class="bold">страдат. причастий</span></p>
                </div>
                <div class="item item-4">
                    <h3 class="title-orf"><span class="circle">56</span></h3>
                    <p class="subtitle-orf">НЕ с <span class="bold">деепричастиями</span></p>
                </div>
                <div class="item item-5">
                    <h3 class="title-orf"><span class="circle">57</span></h3>
                    <p class="subtitle-orf">НЕ с <span class="bold">наречиями</span> на -О и -Е</p>
                </div>
                <div class="item item-6">
                    <p class="text-orf"><span class="bold">Н</span>: <br> в <span class="bold">кратких причастиях</span> (есть признак действия), <br>------- <br> <span class="bold">НН</span>: <br> в кратких отглагольных <span class="bold">прилагательных</span> (нет действия)</p>
                </div>
                <div class="item item-7">
                    <p class="text-orf"><span class="bold">СЛИТНО</span> с полными прич.: <br>1) не употребляются без НЕ, <br>2) нет зависимых слов, <br>3) нет противоп. с союзом А. <br> <span class="bold">РАЗДЕЛЬНО</span>: <br>1) с краткими, <br>2) если у причастия есть зависимые слова, <br>3) есть противопоставление с союзом А</p>
                </div>
                <div class="item item-8">
                    <p class="text-orf"><span class="bold">Е</span> – без ударения, <br> <span class="bold">Ё</span> – под ударением</p>
                </div>
                <div class="item item-9">
                    <p class="text-orf">Всегда <span class="bold">раздельно</span> (кроме случаев, когда деепричастие без НЕ не употребляется)</p>
                </div>
                <div class="item item-10">
                    <p class="text-orf"><span class="bold">СЛИТНО</span>: <br> 1) <span class="bold">не употребляется</span> без НЕ-, <br> 2) есть <span class="bold">синоним</span> без НЕ-, <br> 3) нет противопост. с союзом А. <br> <span class="bold">РАЗДЕЛЬНО</span>: <br> 1) есть противоп. с союзом А, <br> 2) наречие со словами <span class="bold">далеко не,  вовсе не,  совсем не, ничуть не, нисколько не</span> и др.</p>
                </div>
                <div class="item item-11"><img class="item-png" src="/static/images/53.png" alt="орфограмма 53" loading="lazy"></div>
                <div class="item item-12"><img class="item-png" src="/static/images/54.png" alt="орфограмма 54" loading="lazy"></div>
                <div class="item item-13"><img class="item-png" src="/static/images/55.png" alt="орфограмма 55" loading="lazy"></div>
                <div class="item item-14"><img class="item-png" src="/static/images/56.png" alt="орфограмма 56" loading="lazy"></div>
                <div class="item item-15"><img class="item-png" src="/static/images/57.png" alt="орфограмма 57" loading="lazy"></div>
                <div class="item item-16">
                    <textarea id="item-text-53" class="input-text" name="user-input-orf-53" rows="3" placeholder="Напишите примеры"></textarea><br>
                </div>
                <div class="item item-17">
                    <textarea id="item-text-54" class="input-text" name="user-input-orf-54" rows="3" placeholder="Напишите примеры"></textarea><br>
                </div>
                <div class="item item-18">
                    <textarea id="item-text-55" class="input-text" name="user-input-orf-55" rows="3" placeholder="Напишите примеры"></textarea><br>
                </div>
                <div class="item item-19">
                    <textarea id="item-text-56" class="input-text" name="user-input-orf-56" rows="3" placeholder="Напишите примеры"></textarea><br>
                </div>
                <div class="item item-20">
                    <textarea id="item-text-57" class="input-text" name="user-input-orf-57" rows="3" placeholder="Напишите примеры"></textarea><br>
                </div>
            </section>
        </article>

        <article class="article-table-container">
            <h2 class="title-table-container">Орфограммы 58-62</h2>
            <section class="table-container">
                <div class="item item-1">
                    <h3 class="title-orf"><span class="circle">58</span></h3>
                    <p class="subtitle-orf">НЕ и НИ в <span class="text-orf-effects">отрицательных наречиях</span></p>    
                </div>
                <div class="item item-2">
                    <h3 class="title-orf"><span class="circle">59</span></h3>
                    <p class="subtitle-orf">Н и НН в <span class="text-orf-effects">наречиях</span> на -О и -Е</p>    
                </div>
                <div class="item item-3">
                    <h3 class="title-orf"><span class="circle">60</span></h3>
                    <p class="subtitle-orf">О и Е после шипящих на конце <span class="text-orf-effects">наречий</span></p>
                </div>
                <div class="item item-4">
                    <h3 class="title-orf"><span class="circle">61</span></h3>
                    <p class="subtitle-orf">О и А на конце <span class="text-orf-effects">наречий</span></p>
                </div>
                <div class="item item-5">
                    <h3 class="title-orf"><span class="circle">62</span></h3>
                    <p class="subtitle-orf">Дефис в <span class="text-orf-effects">наречиях</span></p>
                </div>
                <div class="item item-6">
                    <p class="text-orf"><span class="bold">НЕ – под</span> ударением, <br> <span class="bold">НИ – без</span> ударения</span></p>
                </div>
                <div class="item item-7">
                    <p class="text-orf">Найти прилагательные и причастия, от которых образованы: писать столько же Н</p>
                </div>
                <div class="item item-8">
                    <p class="text-orf"><span class="bold">О – под</span> ударением, <br> <span class="bold">Е – без</span> ударения</span></p>
                </div>
                <div class="item item-9">
                    <p class="text-orf">А – если в слове есть приставка: <br> ИЗ- <br> ДО- <br> С- <br> ----- <br>В остальных – О. <br>О пишется и в наречиях, образованных от прилагательных с приставками из-, до-, с-</p>
                </div>
                <div class="item item-10">
                    <p class="text-orf">Наречия, оканчивающиеся на <span class="bold">-ому (-ему), -ых (-их), -и</span> с приставками <span class="bold">ПО-, В-(ВО-)</span> пишутся через ДЕФИС. <br>Приставка <span class="bold">КОЕ-</span>, суффиксы <span class="bold">–ТО, -ЛИБО, -НИБУДЬ</span> в наречиях пишутся с ДЕФИСОМ. <br>Сложные наречия также пишутся через дефис</p>
                </div>
                <div class="item item-11"><img class="item-png" src="/static/images/58.png" alt="орфограмма 58" loading="lazy"></div>
                <div class="item item-12"><img class="item-png" src="/static/images/59.png" alt="орфограмма 59" loading="lazy"></div>
                <div class="item item-13"><img class="item-png" src="/static/images/60.png" alt="орфограмма 60" loading="lazy"></div>
                <div class="item item-14"><img class="item-png" src="/static/images/61.png" alt="орфограмма 61" loading="lazy"></div>
                <div class="item item-15"><img class="item-png" src="/static/images/62.png" alt="орфограмма 62" loading="lazy"></div>
                <div class="item item-16">
                    <textarea id="item-text-58" class="input-text" name="user-input-orf-58" rows="3" placeholder="Напишите примеры"></textarea><br>
                </div>
                <div class="item item-17">
                    <textarea id="item-text-59" class="input-text" name="user-input-orf-59" rows="3" placeholder="Напишите примеры"></textarea><br>
                </div>
                <div class="item item-18">
                    <textarea id="item-text-60" class="input-text" name="user-input-orf-60" rows="3" placeholder="Напишите примеры"></textarea><br>
                </div>
                <div class="item item-19">
                    <textarea id="item-text-61" class="input-text" name="user-input-orf-61" rows="3" placeholder="Напишите примеры"></textarea><br>
                </div>
                <div class="item item-20">
                    <textarea id="item-text-62" class="input-text" name="user-input-orf-62" rows="3" placeholder="Напишите примеры"></textarea><br>
                </div>
            </section>
        </article>

        <article class="article-table-container">
            <h2 class="title-table-container">Орфограммы 63-67</h2>
            <section class="table-container">
                <div class="item item-1">
                    <h3 class="title-orf"><span class="circle">63</span></h3>
                    <p class="subtitle-orf">Ь на конце <span class="text-orf-effects">наречий</span></p>    
                </div>
                <div class="item item-2">
                    <h3 class="title-orf"><span class="circle">64</span></h3>
                    <p class="subtitle-orf">Правописание <span class="text-orf-effects">производных предлогов</span> на основе наречий</p>    
                </div>
                <div class="item item-3">
                    <h3 class="title-orf"><span class="circle">65</span></h3>
                    <p class="subtitle-orf">Правописание <span class="text-orf-effects">производных предлогов</span></p>
                </div>
                <div class="item item-4">
                    <h3 class="title-orf"><span class="circle">66</span></h3>
                    <p class="subtitle-orf">Е на конце <span class="text-orf-effects">производных предлогов</span></p>
                </div>
                <div class="item item-5">
                    <h3 class="title-orf"><span class="circle">67</span></h3>
                    <p class="subtitle-orf">Слитное написание <span class="text-orf-effects">союзов</span> ТАКЖЕ, ТОЖЕ, ЧТОБЫ</p>
                </div>
                <div class="item item-6">
                    <p class="text-orf">На конце наречий после шипящих пишется <span class="text-orf-effects">Ь</span>. <br>Исключения: УЖ, ЗАМУЖ, НЕВТЕРПЕЖ</p>
                </div>
                <div class="item item-7">
                    <p class="text-orf">Пишутся слитно</p>
                </div>
                <div class="item item-8">
                    <p class="text-orf">СЛИТНО: <br> <span class="bold">Вследствие</span> (по причине), <br> <span class="bold">наподобие</span>,<br> <span class="bold">вроде</span> (подобно),<br> <span class="bold">насчет</span> (о),<br> <span class="bold">ввиду</span> (из-за),<br> <span class="bold">вмест</span>о,<br> <span class="bold">несмотря на</span>.<br>------ <br>РАЗДЕЛЬНО:<br><span class="bold">в течение</span>, <br><span class="bold">в продолжение</span>,<br><span class="bold">по причине</span>,<br><span class="bold">в целях</span>,<br><span class="bold">со стороны</span> и др.</p>
                </div>
                <div class="item item-9">
                    <p class="text-orf">В предлогах <br><span class="bold">в течение</span>,<br><span class="bold">в продолжение</span>,<br><span class="bold">вследствие</span> и др<div class="br"></div>на конце пишется Е</p>
                </div>
                <div class="item item-10">
                    <p class="text-orf">Вспомнить. Отличать от аналогичных сочетаний, пишущихся раздельно (ЖЕ можно отбросить)</p>
                </div>
                <div class="item item-11"><img class="item-png" src="/static/images/63.png" alt="орфограмма 63" loading="lazy"></div>
                <div class="item item-12"><img class="item-png" src="/static/images/64.png" alt="орфограмма 64" loading="lazy"></div>
                <div class="item item-13"><img class="item-png" src="/static/images/65.png" alt="орфограмма 65" loading="lazy"></div>
                <div class="item item-14"><img class="item-png" src="/static/images/66.png" alt="орфограмма 66" loading="lazy"></div>
                <div class="item item-15"><img class="item-png" src="/static/images/67.png" alt="орфограмма 67" loading="lazy"></div>
                <div class="item item-16">
                    <textarea id="item-text-63" class="input-text" name="user-input-orf-63" rows="3" placeholder="Напишите примеры"></textarea><br>
                </div>
                <div class="item item-17">
                    <textarea id="item-text-64" class="input-text" name="user-input-orf-64" rows="3" placeholder="Напишите примеры"></textarea><br>
                </div>
                <div class="item item-18">
                    <textarea id="item-text-65" class="input-text" name="user-input-orf-65" rows="3" placeholder="Напишите примеры"></textarea><br>
                </div>
                <div class="item item-19">
                    <textarea id="item-text-66" class="input-text" name="user-input-orf-66" rows="3" placeholder="Напишите примеры"></textarea><br>
                </div>
                <div class="item item-20">
                    <textarea id="item-text-67" class="input-text" name="user-input-orf-67" rows="3" placeholder="Напишите примеры"></textarea><br>
                </div>
            </section>
        </article>

        <article class="article-table-container">
            <h2 class="title-table-container">Орфограммы 68-70</h2>
            <section class="table-container">
                <div class="item item-1">
                    <h3 class="title-orf"><span class="circle">68<span></h3>
                    <p class="subtitle-orf"><span class="text-orf-effects">Частицы</span> БЫ, ЛИ, ЖЕ со словами</p>    
                </div>
                <div class="item item-2">
                    <h3 class="title-orf"><span class="circle">69</span></h3>
                    <p class="subtitle-orf"><span class="bold">Частица</span> -КА с глаголами</p>    
                </div>
                <div class="item item-3">
                    <h3 class="title-orf"><span class="circle">70</span></h3>
                    <p class="subtitle-orf">Повторяющиеся <span class="text-orf-effects">междометия</span></p>
                </div>
                <div class="item item-4">
                    <h3 class="title-orf"><span class="circle"><span>71</h3>
                    <p class="subtitle-orf"></p>
                </div>
                <div class="item item-5">
                    <h3 class="title-orf"><span class="circle">72</span></h3>
                    <p class="subtitle-orf"></p>
                </div>
                <div class="item item-6">
                    <p class="text-orf">Пишутся раздельно</p>
                </div>
                <div class="item item-7">
                    <p class="text-orf">Пишется через дефис</p>
                </div>
                <div class="item item-8">
                    <p class="text-orf">Пишутся через дефис</p>
                </div>
                <div class="item item-9">
                    <p class="text-orf"></p>
                </div>
                <div class="item item-10">
                    <p class="text-orf"></p>
                </div>
                <div class="item item-11"><img class="item-png" src="/static/images/68.png" alt="орфограмма 68" loading="lazy"></div>
                <div class="item item-12"><img class="item-png" src="/static/images/69.png" alt="орфограмма 69" loading="lazy"></div>
                <div class="item item-13"><img class="item-png" src="/static/images/70.png" alt="орфограмма 70" loading="lazy"></div>
                <div class="item item-14"><img class="item-png" src="/static/images/71.png" alt="орфограмма 71" loading="lazy"></div>
                <div class="item item-15"><img class="item-png" src="/static/images/71.png" alt="орфограмма 72" loading="lazy"></div>
                <div class="item item-16">
                    <textarea id="item-text-68" class="input-text" name="user-input-orf-68" rows="3" placeholder="Напишите примеры"></textarea><br>
                </div>
                <div class="item item-17">
                    <textarea id="item-text-69" class="input-text" name="user-input-orf-69" rows="3" placeholder="Напишите примеры"></textarea><br>
                </div>
                <div class="item item-18">
                    <textarea id="item-text-70" class="input-text" name="user-input-orf-70" rows="3" placeholder="Напишите примеры"></textarea><br>
                </div>
                <div class="item item-19">
                    <textarea id="item-text-71" class="input-text" name="user-input-orf-71" rows="3" placeholder="Трудные случаи"></textarea><br>
                </div>
                <div class="item item-20">
                    <textarea id="item-text-72" class="input-text" name="user-input-orf-72" rows="3" placeholder="Трудные случаи"></textarea><br>
                </div>
            </section>
        </article>

        <img src="/static/images/table_punkt_5-9.webp" alt="Таблица пунктограмм 5-9 кл" style="width: 100%; height: auto; display: block;">
        

        <!-- Скрытое поле с CSRF-токеном -->
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    </main>

    <script src="{% static 'js/planning.js' %}"></script>
</body>
</html>