<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}  <!-- ЭТО ОБЯЗАТЕЛЬНО! -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>5 класс — NeuroStat</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/planning_style.css">
    <link rel="stylesheet" href="/static/css/media_planning.css">
    <link rel="stylesheet" href="/static/css/reset.css">
</head>
<body>
    <header>
        <a href="/">← Назад</a>
    </header>

    <main>
        <img src="/static/images/Plakat_6kl.webp" alt="Плакат 6 класса" style="width: 100%; height: auto; display: block;">

        <h2 class="title-planing">Планинг</h2>

        <article class="article-practice">
            <h2 class="title-practice">Упражнение 26_1</h2>
            <p class="practice-task 6_1">В словах пропущена буква, кликните по пропуску-смайлу, выберите подходящий вариант из списка.</p>
            <p class="practice-text" data-exercise="26_1">Прик*26*снулся, к*26*сался, прик*26*сался, к*26*снуться, к*26*сательная, к*26*снуться</p>

            <button class="check-answers">Проверить</button>
        </article>

        <article class="article-practice">
            <h2 class="title-practice">Упражнение 27_1</h2>
            <p class="practice-task 6_1">В словах пропущена буква, кликните по пропуску-смайлу, выберите подходящий вариант из списка.</p>
            <p class="practice-text" data-exercise="27_1">заг*271*реть, приг*271*рела, заг*271*р, сг*271*раешь; з*272*ря, з*272*рница, оз*272*рение, з*271*рюшка</p>

            <button class="check-answers">Проверить</button>
        </article>

        <article class="article-practice">
            <h2 class="title-practice">Упражнение 28_1</h2>
            <p class="practice-task 6_1">В словах пропущена буква, кликните по пропуску-смайлу, выберите подходящий вариант из списка.</p>
            <p class="practice-text" data-exercise="28">с*281*грать, под*281*скать, под*281*тожить, супер*282*гра, из*281*скивать, дез*282*нформация, пред*281*дущий</p>

            <button class="check-answers">Проверить</button>
        </article>



        <h2 class="title-planing">Планинг</h2>
        
        <article class="article-table-container">
            <h2 class="title-table-container">Орфограммы 26-30</h2>
            <section class="table-container">
                <div class="item item-1">
                    <h3 class="title-orf"><span class="circle">26</span></h3>
                    <p class="subtitle-orf">О и А в <span class="text-orf-effects">корне</span> с <span class="bold">чередованием</span> -КАС-, -КОС-</p>    
                </div>
                <div class="item item-2">
                    <h3 class="title-orf"><span class="circle">27</span></h3>
                    <p class="subtitle-orf">А и О в <span class="text-orf-effects">корнях</span> с <span class="bold">чередованием</span> <br>1)-ГАР-,-ГОР- <br> 2)-ЗАР-,-ЗОР-</p>    
                </div>
                <div class="item item-3">
                    <h3 class="title-orf"><span class="circle">28</span></h3>
                    <p class="subtitle-orf">Ы-И после приставок</p>
                </div>
                <div class="item item-4">
                    <h3 class="title-orf"><span class="circle">29</span></h3>
                    <p class="subtitle-orf">Гласные в <span class="text-orf-effects">приставках</span> <br>ПРЕ- и ПРИ-</p>
                </div>
                <div class="item item-5">
                    <h3 class="title-orf"><span class="circle">30</span></h3>
                    <p class="subtitle-orf">Соединительные гласные <br>О и Е</p>
                </div>
                <div class="item item-6">
                    <p class="text-orf">Если после корня есть <span class="bold">суффикс А</span>, в корне пишется А</span></p>
                </div>
                <div class="item item-7">
                    <p class="text-orf">В соответствии с произношением. <br>1) Под <span class="bold">ударением</span> пишется А (гар), без ударения О (гор). <br>2) Под <span class="bold">ударением</span> пишется О (зор), без ударения А (зар)</p>
                </div>
                <div class="item item-8">
                    <p class="text-orf">Если слово, к которому добавлена приставка <span class="bold">на согласный</span>, начинается с И, то на <span class="bold">И меняется на Ы</span> (кроме слов с приставками  СВЕРХ-, МЕЖ- и иноязычными СУПЕР-, ТРАНС-, ДЕЗ-, ПАН-, ПОСТ-, КОНТР-)</p>
                </div>
                <div class="item item-9">
                    <p class="text-orf">Определить значение приставки. <span class="bold">ПРИ</span> пишется, когда приставка обозначает <br>1) приближение, <br>2) присоединение, <br>3) близость, <br>4) неполноту действия. <br>ПРЕ заменяет приставку <span class="bold">ПЕРЕ</span> или слово <span class="bold">ОЧЕНЬ</span></p>
                </div>
                <div class="item item-10">
                    <p class="text-orf">Выделить корни. После <span class="text-orf-effects">твердой</span> согласной пишется <span class="bold">соединительная О</span>, после <span class="text-orf-effects">мягкой</span> или <span class="text-orf-effects">шипящей</span> – <span class="bold">Е</span></p>
                </div>
                <div class="item item-11"><img class="item-png" src="/static/images/26.png" alt="орфограмма 26" loading="lazy"></div>
                <div class="item item-12"><img class="item-png" src="/static/images/27.png" alt="орфограмма 27" loading="lazy"></div>
                <div class="item item-13"><img class="item-png" src="/static/images/28.png" alt="орфограмма 28" loading="lazy"></div>
                <div class="item item-14"><img class="item-png" src="/static/images/29.png" alt="орфограмма 29" loading="lazy"></div>
                <div class="item item-15"><img class="item-png" src="/static/images/30.png" alt="орфограмма 30" loading="lazy"></div>
                <div class="item item-16">
                    <textarea id="item-text-26" class="input-text" name="user-input-orf-26" rows="3" placeholder="Напишите примеры"></textarea><br>
                </div>
                <div class="item item-17">
                    <textarea id="item-text-27" class="input-text" name="user-input-orf-27" rows="3" placeholder="Напишите примеры"></textarea><br>
                </div>
                <div class="item item-18">
                    <textarea id="item-text-28" class="input-text" name="user-input-orf-28" rows="3" placeholder="Напишите примеры"></textarea><br>
                </div>
                <div class="item item-19">
                    <textarea id="item-text-29" class="input-text" name="user-input-orf-29" rows="3" placeholder="Напишите примеры"></textarea><br>
                </div>
                <div class="item item-20">
                    <textarea id="item-text-30" class="input-text" name="user-input-orf-30" rows="3" placeholder="Напишите примеры"></textarea><br>
                </div>
            </section>
        </article>

        <article class="article-table-container">
            <h2 class="title-table-container">Орфограммы 31-35</h2>
            <section class="table-container">
                <div class="item item-1">
                    <h3 class="title-orf"><span class="circle">31</span></h3>
                    <p class="subtitle-orf">Суфффикс ЕН в <span class="text-orf-effects">существительных</span> на -МЯ</p>    
                </div>
                <div class="item item-2">
                    <h3 class="title-orf"><span class="circle">32</span></h3>
                    <p class="subtitle-orf">НЕ с <span class="text-orf-effects">существительными</span></p>    
                </div>
                <div class="item item-3">
                    <h3 class="title-orf"><span class="circle">33</span></h3>
                    <p class="subtitle-orf">Суффиксы -ЧИК- и -ЩИК- в <span class="text-orf-effects">существительных</span></p>
                </div>
                <div class="item item-4">
                    <h3 class="title-orf"><span class="circle">34</span></h3>
                    <p class="subtitle-orf">Суффиксы ЕК и ИК в <span class="text-orf-effects">существительных</span></p>
                </div>
                <div class="item item-5">
                    <h3 class="title-orf"><span class="circle">35</span></h3>
                    <p class="subtitle-orf">О и Е после шипящих в суффиксах <span class="text-orf-effects">существительных</span></p>
                </div>
                <div class="item item-6">
                    <p class="text-orf">Существительные <span class="bold">на – МЯ</span> (разносклоняемые) при склонении приобретают <span class="bold">суффикс -ЕН-</span></p>
                </div>
                <div class="item item-7">
                    <p class="text-orf">Пишется СЛИТНО: <br> 1) если можно заменить <span class="bold">синонимом без НЕ</span>; <br>2) если <span class="bold">не употребляется без НЕ</span>; <br>3) если <span class="bold">нет противопоставления</span> с союзом А.<br>------ <br>Пишется РАЗДЕЛЬНО: <br>если <span class="bold">есть противопоставление</span> с союзом А.</p>
                </div>             
                <div class="item item-8">
                    <p class="text-orf">После <span class="bold">Д, Т, З, С</span> и <span class="bold">Ж</span> пишется -ЧИК-. <br> В остальных случаях -ЩИК-</p>
                </div>
                <div class="item item-9">
                    <p class="text-orf">Просклонять слово. Суффикс <span class="text-orf-effects">ЕК</span> пишется, если в <span class="bold">косвенных падежах</span> гласная Е <span class="text-orf-effects">исчезает</span>. <br> В суффиксе <span class="text-orf-effects">ИК</span> при склонении <span class="bold">И</span> остаётся</p>
                </div>
                <div class="item item-10">
                    <p class="text-orf">Под <span class="bold">ударением</span> пишется <span class="bold">О</span>. Без ударения – <span class="bold">Е</span></p>
                </div>
                <div class="item item-11"><img class="item-png" src="/static/images/31.png" alt="орфограмма 31" loading="lazy"></div>
                <div class="item item-12"><img class="item-png" src="/static/images/32.png" alt="орфограмма 32" loading="lazy"></div>
                <div class="item item-13"><img class="item-png" src="/static/images/33.png" alt="орфограмма 33" loading="lazy"></div>
                <div class="item item-14"><img class="item-png" src="/static/images/34.png" alt="орфограмма 34" loading="lazy"></div>
                <div class="item item-15"><img class="item-png" src="/static/images/35.png" alt="орфограмма 35" loading="lazy"></div>
                <div class="item item-16">
                    <textarea id="item-text-31" class="input-text" name="user-input-orf-31" rows="3" placeholder="Напишите примеры"></textarea><br>
                </div>
                <div class="item item-17">
                    <textarea id="item-text-32" class="input-text" name="user-input-orf-32" rows="3" placeholder="Напишите примеры"></textarea><br>
                </div>
                <div class="item item-18">
                    <textarea id="item-text-33" class="input-text" name="user-input-orf-33" rows="3" placeholder="Напишите примеры"></textarea><br>
                </div>
                <div class="item item-19">
                    <textarea id="item-text-34" class="input-text" name="user-input-orf-34" rows="3" placeholder="Напишите примеры"></textarea><br>
                </div>
                <div class="item item-20">
                    <textarea id="item-text-35" class="input-text" name="user-input-orf-35" rows="3" placeholder="Напишите примеры"></textarea><br>
                </div>
            </section>
        </article>

        <article class="article-table-container">
            <h2 class="title-table-container">Орфограммы 36-40</h2>
            <section class="table-container">
                <div class="item item-1">
                    <h3 class="title-orf"><span class="circle">36</span></h3>
                    <p class="subtitle-orf">Не с<span class="text-orf-effects">прилагательными</span></p>    
                </div>
                <div class="item item-2">
                    <h3 class="title-orf"><span class="circle">37</span></h3>
                    <p class="subtitle-orf">О и Е после <span class="bold">шипящих</span> и <span class="bold">Ц</span> в суффиксах <span class="text-orf-effects">прилагательных</span></p>    
                </div>
                <div class="item item-3">
                    <h3 class="title-orf"><span class="circle">38</span></h3>
                    <p class="subtitle-orf">Н и НН в суффиксах <span class="text-orf-effects">прилагательных</span></p>
                </div>
                <div class="item item-4">
                    <h3 class="title-orf"><span class="circle">39</span></h3>
                    <p class="subtitle-orf">Суффиксы -К- и -СК-</p>
                </div>
                <div class="item item-5">
                    <h3 class="title-orf"><span class="circle">40</span></h3>
                    <p class="subtitle-orf">Дефисное и слитное написание <span class="text-orf-effects">сложных прилагательных</span></p>
                </div>
                <div class="item item-6">
                    <p class="text-orf">Слитно: <br>1) <span class="bold">не употребляется</span> без НЕ, <br>2) можно заменить <span class="bold">синонимом</span> без НЕ, <br>3) <span class="bold">нет противопоставления</span> с союзом А. <br>----- <br>Раздельно: <br>1) <span class="bold">есть противопоставление</span> с союзом А, <br>2) есть слова <span class="bold">НИСКОЛЬКО, ДАЛЕКО, ВОВСЕ, ОТНЮДЬ, НИЧУТЬ</span> и др.</span></p>
                </div>
                <div class="item item-7">
                    <p class="text-orf">Под ударением пишется <span class="bold">О</span></p>
                </div>
                <div class="item item-8">
                    <p class="text-orf"><span class="bold">Н</span>: <br>В суффиксах <span class="bold">-АН-, -ЯН-, -ИН-</span> <br>Искл.: стеклянный, оловянный, деревянный <br><span class="bold">НН</span>: <br>- в словах с <span class="bold">основой на Н</span>, <br>- в суффиксах <span class="bold">-ОНН-,  -ЕНН-</span> <br>Искл.: ветреный</p>
                </div>
                <div class="item item-9">
                    <p class="text-orf"><span class="bold">-К-</span>: <br>1) в качественных прил., образующих краткую форму, <br>2) в некоторых относительных прил., образованных от существ., основа которых оканчивается на -К, -Ч, -Ц. При этом -К и -Ч меняются на -Ц. <br><span class="bold">-СК-</span> пишется в других прилагательных</p>
                </div>
                <div class="item item-10">
                    <p class="text-orf"><span class="bold">Через дефис</span>, если: <br>1) образованы из двух равноправных слов; <br>2) обозначают разные цвета или оттенки цветов; <br>3) образованы от существ., которые пишутся через дефис. <br>----- <br><span class="bold">Слитно</span>, если образованы на основе словосочетания</p>
                </div>
                <div class="item item-11"><img class="item-png" src="/static/images/36.png" alt="орфограмма 36" loading="lazy"></div>
                <div class="item item-12"><img class="item-png" src="/static/images/37.png" alt="орфограмма 37" loading="lazy"></div>
                <div class="item item-13"><img class="item-png" src="/static/images/38.png" alt="орфограмма 38" loading="lazy"></div>
                <div class="item item-14"><img class="item-png" src="/static/images/39.png" alt="орфограмма 39" loading="lazy"></div>
                <div class="item item-15"><img class="item-png" src="/static/images/40.png" alt="орфограмма 40" loading="lazy"></div>
                <div class="item item-16">
                    <textarea id="item-text-36" class="input-text" name="user-input-orf-36" rows="3" placeholder="Напишите примеры"></textarea><br>
                </div>
                <div class="item item-17">
                    <textarea id="item-text-37" class="input-text" name="user-input-orf-37" rows="3" placeholder="Напишите примеры"></textarea><br>
                </div>
                <div class="item item-18">
                    <textarea id="item-text-38" class="input-text" name="user-input-orf-38" rows="3" placeholder="Напишите примеры"></textarea><br>
                </div>
                <div class="item item-19">
                    <textarea id="item-text-39" class="input-text" name="user-input-orf-39" rows="3" placeholder="Напишите примеры"></textarea><br>
                </div>
                <div class="item item-20">
                    <textarea id="item-text-40" class="input-text" name="user-input-orf-40" rows="3" placeholder="Напишите примеры"></textarea><br>
                </div>
            </section>
        </article>

        <article class="article-table-container">
            <h2 class="title-table-container">Орфограммы 40.5-44</h2>
            <section class="table-container">
                <div class="item item-1">
                    <h3 class="title-orf"><span class="circle">40.5</span></h3>
                    <p class="subtitle-orf">ПОЛ- / ПОЛУ-</p>    
                </div>
                <div class="item item-2">
                    <h3 class="title-orf"><span class="circle">41</span></h3>
                    <p class="subtitle-orf">Ь в середине <span class="text-orf-effects">числительных</span></p>    
                </div>
                <div class="item item-3">
                    <h3 class="title-orf"><span class="circle">42</span></h3>
                    <p class="subtitle-orf">И в окончаниях <span class="text-orf-effects">числительных</span></p>
                </div>
                <div class="item item-4">
                    <h3 class="title-orf"><span class="circle">43</span></h3>
                    <p class="subtitle-orf">НЕ в неопределенных <span class="text-orf-effects">местоимениях</span></p>
                </div>
                <div class="item item-5">
                    <h3 class="title-orf"><span class="circle">44</span></h3>
                    <p class="subtitle-orf">Дефис в неопределенных <span class="text-orf-effects">местоимениях</span></p>
                </div>
                <div class="item item-6">
                    <p class="text-orf"><span class="bold">Слитно</span>: <br> ПОЛ_ с согласными, кроме Л <br>ПОЛУ_ <br>------ <br><span class="bold">Через дефис</span> ПОЛ-: <br>1) гласная <br>2) Л <br>3) имя собственное
                </p>
                </div>
                <div class="item item-7">
                    <p class="text-orf">Пишется в числительных <span class="bold">50-80</span> и <span class="bold">500-900</span></p>
                </div>
                <div class="item item-8">
                    <p class="text-orf"><span class="bold">И</span> пишется в окончаниях родительного, дательного и предложного падежей числительных от <span class="bold">11</span> до <span class="bold">19</span></p>
                </div>
                <div class="item item-9">
                    <p class="text-orf">Под ударением</p>
                </div>
                <div class="item item-10">
                    <p class="text-orf">-то, -либо, -нибудь, кое- пишутся через <span class="bold">дефис</span></p>
                </div>
                <div class="item item-11"><img class="item-png" src="/static/images/40.5.png" alt="орфограмма 40.5" loading="lazy"></div>
                <div class="item item-12"><img class="item-png" src="/static/images/41.png" alt="орфограмма 41" loading="lazy"></div>
                <div class="item item-13"><img class="item-png" src="/static/images/42.png" alt="орфограмма 42" loading="lazy"></div>
                <div class="item item-14"><img class="item-png" src="/static/images/43.png" alt="орфограмма 43" loading="lazy"></div>
                <div class="item item-15"><img class="item-png" src="/static/images/44.png" alt="орфограмма 44" loading="lazy"></div>
                <div class="item item-16">
                    <textarea id="item-text-40.5" class="input-text" name="user-input-orf-40.5" rows="3" placeholder="Напишите примеры"></textarea><br>
                </div>
                <div class="item item-17">
                    <textarea id="item-text-41" class="input-text" name="user-input-orf-41" rows="3" placeholder="Напишите примеры"></textarea><br>
                </div>
                <div class="item item-18">
                    <textarea id="item-text-42" class="input-text" name="user-input-orf-42" rows="3" placeholder="Напишите примеры"></textarea><br>
                </div>
                <div class="item item-19">
                    <textarea id="item-text-43" class="input-text" name="user-input-orf-43" rows="3" placeholder="Напишите примеры"></textarea><br>
                </div>
                <div class="item item-20">
                    <textarea id="item-text-44" class="input-text" name="user-input-orf-44" rows="3" placeholder="Напишите примеры"></textarea><br>
                </div>
            </section>
        </article>

        <article class="article-table-container">
            <h2 class="title-table-container">Орфограммы 45-48.5</h2>
            <section class="table-container">
                <div class="item item-1">
                    <h3 class="title-orf"><span class="circle">45<span></h3>
                    <p class="subtitle-orf">НЕ и НИ в <span class="text-orf-effects">отрицательных местоимениях</span></p>    
                </div>
                <div class="item item-2">
                    <h3 class="title-orf"><span class="circle">46</span></h3>
                    <p class="subtitle-orf">Слитное и раздельное написание НЕ и НИ в <span class="text-orf-effects">отрицательных местоимениях</span></p>    
                </div>
                <div class="item item-3">
                    <h3 class="title-orf"><span class="circle">47</span></h3>
                    <p class="subtitle-orf">Ь в <span class="text-orf-effects">глаголах</span>повелительного наклонения</p>
                </div>
                <div class="item item-4">
                    <h3 class="title-orf"><span class="circle">48<span></h3>
                    <p class="subtitle-orf">Гласные в <span class="bold">суффиксах</span> -ОВА- (-ЕВА-) / -ЫВА- (-ИВА-)</p>
                </div>
                <div class="item item-5">
                    <h3 class="title-orf"><span class="circle">48.5</span></h3>
                    <p class="subtitle-orf"></p>
                </div>
                <div class="item item-6">
                    <p class="text-orf">Поставить ударение. НЕ пишется под ударением, НИ – без ударения</p>
                </div>
                <div class="item item-7">
                    <p class="text-orf">Пишутся <span class="bold">СЛИТНО</span>, кроме случаев, когда слово разбивает предлог (получается 3 слова)</p>
                </div>
                <div class="item item-8">
                    <p class="text-orf">На конце глаголов в повелительном наклонении после <span class="bold">мягких согласных</span> и <span class="bold">шипящих</span> пишется Ь. <br>Ь сохраняется перед <span class="bold">-СЯ</span> и <span class="bold">-ТЕ</span></p>
                </div>
                <div class="item item-9">
                    <p class="text-orf">Образовать от данных глаголов форму <span class="bold">1 лица ед. числа наст. или будущего времени</span>. <br>Если оканчивается на -УЮ (-ЮЮ), то в слове пишется суффикс -ОВА- (-ЕВА-). <br>Если нет, то  -ЫВА- (-ИВА-)</p>
                </div>
                <div class="item item-10">
                    <p class="text-orf"></p>
                </div>
                <div class="item item-11"><img class="item-png" src="/static/images/45.png" alt="орфограмма 45" loading="lazy"></div>
                <div class="item item-12"><img class="item-png" src="/static/images/46.png" alt="орфограмма 46" loading="lazy"></div>
                <div class="item item-13"><img class="item-png" src="/static/images/47.png" alt="орфограмма 47" loading="lazy"></div>
                <div class="item item-14"><img class="item-png" src="/static/images/48.png" alt="орфограмма 48" loading="lazy"></div>
                <div class="item item-15"><img class="item-png" src="/static/images/71.png" alt="орфограмма 48.5 loading="lazy""></div>
                <div class="item item-16">
                    <textarea id="item-text-45" class="input-text" name="user-input-orf-45" rows="3" placeholder="Напишите примеры"></textarea><br>
                </div>
                <div class="item item-17">
                    <textarea id="item-text-46" class="input-text" name="user-input-orf-46" rows="3" placeholder="Напишите примеры"></textarea><br>
                </div>
                <div class="item item-18">
                    <textarea id="item-text-47" class="input-text" name="user-input-orf-47" rows="3" placeholder="Напишите примеры"></textarea><br>
                </div>
                <div class="item item-19">
                    <textarea id="item-text-48" class="input-text" name="user-input-orf-48" rows="3" placeholder="Напишите примеры"></textarea><br>
                </div>
                <div class="item item-20">
                    <textarea id="item-text-48.5" class="input-text" name="user-input-orf-48.5" rows="3" placeholder="Трудные случаи"></textarea><br>
                </div>
            </section>
        </article>

        <img src="/static/images/table_punkt_5-6.webp" alt="Таблица пунктограмм 5-6 кл" style="width: 100%; height: auto; display: block;">
        

        <!-- Скрытое поле с CSRF-токеном -->
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    </main>

    <script src="{% static 'js/planning.js' %}"></script>
</body>
</html>