<!-- task_paponim_snippet.html -->
<div class="task-paponim-exercise diagnostic-full-test">
    <div class="question-diagnostic diagnostic-full-test__question" data-question-number="5">
        <h4 class="diagnostic-full-test__title">
            Задание 5. Паронимы
        </h4>
        <p class="diagnostic-full-test__instruction">
            В одном из приведённых ниже предложений НЕВЕРНО употреблено выделенное слово.
            Исправьте лексическую ошибку, подобрав к выделенному слову пароним.
            Запишите подобранное слово, соблюдая нормы современного русского литературного языка.
        </p>

        <div class="diagnostic-full-test__lines">
            {% for sent in sentences %}
            <div class="diagnostic-full-test__line">
                <span class="practice-line diagnostic-full-test__line-text">
                    {{ sent.text|safe }}
                </span>
            </div>
            {% endfor %}
        </div>

        <input type="text" class="paponim-input diagnostic-full-test__input input-text"
            placeholder="Напишите правильное слово" autocomplete="off" data-question="5">
    </div>

    <button class="check-task-paponim check-task-submit">Проверить</button>

    <section class="orthoepy-dictionary-link">
        <a href="{% url 'paponim_trening' %}">Онлайн-словник паронимов →</a>
        </p>
    </section>

    <div class="task-paponim-result diagnostic-full-test__result"></div>
</div>