<!-- task_wordok_snippet.html -->
<div class="task-wordok-exercise diagnostic-full-test">
    <div class="question-diagnostic diagnostic-full-test__question" data-question-number="6">
        <h4 class="diagnostic-full-test__title">
            Задание 6. Лексические нормы
        </h4>
        <p class="diagnostic-full-test__instruction">
            {{ instruction }}
        </p>

        <div class="diagnostic-full-test__text">
            {{ text|safe }}
        </div>

        <input type="text" class="wordok-input diagnostic-full-test__input input-text" placeholder="Напишите слово"
            autocomplete="off" data-question="6">
    </div>

    <button class="check-task-wordok check-task-submit">Проверить</button>

    <div class="task-wordok-result diagnostic-full-test__result"></div>
</div>